<div>
    <h2>Add a technology</h2>
    <form role="form">
        <div class="form-group">
            <label for="TechName">Technology Name</label>
            <input type="text" class="form-control" id="TechName" placeholder="Enter name of the technology" ng-model="tech.Name" required>
        </div>
        <div class="form-group">
            <label for="VendorName">Vendor Name</label>
            <input type="text" class="form-control" id="VendorName" placeholder="Enter name of the vendor" ng-model="tech.VendorName" required>
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" placeholder="Enter a description of the technology" ng-model="tech.Description" required>
        </div>
        <div class="form-group">
            <label for="LogoUrl">LogoUrl</label>
            <input type="text" class="form-control" id="LogoUrl" placeholder="Enter a url for the technology logo" ng-model="tech.LogoUrl" required>
        </div>
        <div class="form-group">
            <label for="VendorUrl">Vendor Url</label>
            <input type="text" class="form-control" id="VendorUrl" placeholder="Enter url of the vendor" ng-model="tech.VendorUrl">
        </div>
        <div class="form-group">
            <label for="ProductUrl">Product Url</label>
            <input type="text" class="form-control" id="ProductUrl" placeholder="Enter url of the product" ng-model="tech.ProductUrl">
        </div>
        <div class="input-group">
            <label>Add to tier</label>
            <span ng-repeat="tier in allTiers" style="font-style: italic">
                <span ng-show="tech.Tiers.indexOf(tier) == -1" ng-click="addTechToTier(tier)" class="btn-xs btn-success glyphicon glyphicon-plus-sign"><span style="margin-left:2px;">{{tier.name}}</span></span>
            </span>
        </div>
        <div>
            <ul>
                <li ng-repeat="tier in tech.Tiers"><div class="glyphicon glyphicon-minus btn-xs btn-danger" ng-click="removeTierFromTech(tier)"> </div> {{tier.name}}</li>
            </ul>
        </div>
        <button ng-show="isAuthenticated" class="btn btn-primary" ng-click="createNewTech()">Create</button>
    </form>
</div>