<div>
    <a href="#!/i/techs/{{tech.Id}}/edit" class="btn btn-primary"
        ng-show="isAuthenticated && (currentUserSession.UserAuthId == currentStack.OwnerId || hasRole('Admin'))"
        style="float: right">Edit</a>

    <h2 ng-show="tech.ProductUrl == null" style="display: inline-block">{{tech.Name}}
        <span ng-show="isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav selected"
            ng-click="removeFavorite()"></span>
        <span ng-show="!isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav"
            ng-click="addFavorite()"></span>
    </h2>

    <h2 ng-show="tech.ProductUrl != null">{{tech.Name}}
        <span ng-show="isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav selected"
            ng-click="removeFavorite()"></span>
        <span ng-show="!isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav"
            ng-click="addFavorite()"></span>
    </h2>

    <p>
        <a href="{{tech.ProductUrl}}" target="_blank">{{tech.ProductUrl}}</a>
    </p>

    <div>{{tech.Description}}</div>

    <div>
        <h3>TechStacks using {{tech.Name}}</h3>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Description</strong></td>
                </tr>
            </thead>
            <tr ng-repeat="techStack in relatedStacks">
                <td class="name"><a href="#!/i/stacks/{{techStack.Id}}">{{techStack.Name}}
                </a></td>
                <td class="description" title="{{techStack.Description}}">
                    <div>{{techStack.Description}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<disqus />