<div>
    <a href="#/i/techs/{{tech.Id}}/edit" class="btn btn-primary" 
       ng-show="isAuthenticated && (currentUserSession.UserAuthId == currentStack.OwnerId || hasRole('Admin'))" 
       style="float:right">Edit</a>

    <h2 ng-show="tech.ProductUrl == null" style="display: inline-block">
        {{tech.Name}}
        <span ng-show="isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav selected" 
              ng-click="removeFavorite()"></span>
        <span ng-show="!isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav" 
              ng-click="addFavorite()"></span>
    </h2>
    
    <h2 ng-show="tech.ProductUrl != null">
        {{tech.Name}}
        <span ng-show="isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav selected" 
              ng-click="removeFavorite()"></span>
        <span ng-show="!isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav" 
              ng-click="addFavorite()"></span>
    </h2>
    
    <p>
        <a href="{{tech.ProductUrl}}" target="_blank">{{tech.ProductUrl}}</a>
    </p>
    
    <div>{{tech.Description}}</div>
</div>