<div id="add-techstack-page" class="col-md-11 create">
    <div ng-show="errorMessage">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span ng-bind="errorMessage"></span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Add a new Technology Stack
        </div>
        <div class="panel panel-body">

            <form role="form" name="stackForm">
                <div class="form-group">
                    <label for="StackName">Stack Name</label>
                    <input type="text" class="form-control" id="StackName" placeholder="Enter name of the TechStack" ng-model="newStack.Name">
                </div>
                <div class="form-group">
                    <label for="VendorName">Vendor</label>
                    <input type="text" class="form-control" id="VendorName" placeholder="Enter name of the vendor" ng-model="newStack.VendorName" required>
                </div>
                <div class="form-group">
                    <label for="AppUrl">
                        App Url
                    </label>
                    <input type="text" class="form-control" id="AppUrl" placeholder="Enter a url for this techstack" ng-model="newStack.AppUrl">
                </div>
                <div class="form-group">
                    <label for="ScreenshotUrl">
                        Screenshot Url (minimum dimensions 400 x 400)
                    </label>
                    <input type="text" class="form-control" id="Text1" placeholder="Enter a url for the screenshot of the app" ng-model="newStack.ScreenshotUrl">
                </div>
                <div class="form-group">
                    <label for="technologiesUsed">Select Technologies</label>
                    <chosen-select class="form-control" id="technologiesUsed"
                                   data="searchResults"
                                   item-value="techKey"
                                   item-name="techName"
                                   selected-values="selectedTechs"
                                   options="{no_results_text: 'oops, nothing found!'}"
                                   on-add="handleAddTech(item)"
                                   on-remove="handleRemoveTech(item)"></chosen-select>
                </div>
                <div class="form-group">
                    <label for="Description">Summary</label>
                    <textarea class="form-control" id="Description" placeholder="Enter a short summary of your stack" ng-model="newStack.Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="Details">Detailed Description (Optional)</label>
                    <textarea class="form-control" id="Details" placeholder="Enter a longer detailed description of your stack. (Markdown supported)" ng-model="newStack.Details"></textarea>
                </div>
                <button class="btn btn-primary" ng-click="createNewStack()" ng-disabled="!stackForm.$valid">
                    Create TechStack
                </button>
            </form>
        </div>
    </div>

</div>
