<div id="edit-techstack-page" class="col-md-11 edit">
    <div ng-show="errorMessage">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span ng-bind="errorMessage"></span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Update
            <a href="/{{currentStack.Slug}}">{{currentStack.Name}}</a>
            TechStack
        </div>
        <div class="panel panel-body">
            <form role="form" name="stackForm">
                <div class="form-group">
                    <label for="StackName">Stack Name</label>
                    <input type="text" class="form-control" id="StackName" placeholder="Enter name of the TechStack" ng-model="currentStack.Name">
                </div>
                <div class="form-group">
                    <label for="VendorName">Vendor</label>
                    <input type="text" class="form-control" id="VendorName" placeholder="Enter name of the vendor" ng-model="currentStack.VendorName" required>
                </div>
                <div class="form-group">
                    <label for="technologiesUsed">Select Technologies</label>
                    <chosen-select class="form-control" id="technologiesUsed"
                                   data="searchResults"
                                   item-value="value"
                                   item-name="name"
                                   selected-values="currentStack.TechnologyIds"
                                   options="{no_results_text: 'oops, nothing found!'}"></chosen-select>
                </div>
                <div class="form-group">
                    <label for="AppUrl">
                        App Url
                    </label>
                    <input type="text" class="form-control" id="AppUrl" placeholder="Enter a url for this techstack" ng-model="currentStack.AppUrl">
                </div>
                <div class="form-group">
                    <label for="ScreenshotUrl">
                        Screenshot Url (minimum dimensions 400 x 400)
                    </label>
                    <input type="text" class="form-control" id="Text1" placeholder="Enter a url for the screenshot of the app" ng-model="currentStack.ScreenshotUrl">
                </div>
                <div class="form-group">
                    <label for="Description">Summary</label>
                    <textarea class="form-control" id="Description" placeholder="Enter a short summary of your stack" ng-model="currentStack.Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="Details">Detailed Description (Optional)</label>
                    <textarea class="form-control" id="Details" placeholder="Enter a longer detailed description of your stack. (Markdown supported)" ng-model="currentStack.Details"></textarea>
                </div>
                <button class="btn btn-primary" ng-click="updateAll()" ng-disabled="!stackForm.$valid">
                    Update TechStack
                </button>
                <div class="form-group pull-right">
                    <label style="font-weight: normal; margin: 0 10px 0 0">
                        <input type="checkbox" ng-model="deleteIsEnabled" name="canDelete" value=""/>
                        confirm
                    </label>
                    <button class="btn btn-danger" ng-click="deleteTechStack()" ng-disabled="!deleteIsEnabled">Delete</button>
                </div>
                <div class="progress" ng-show="busy">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span style="font-size: larger">Loading...</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
