<div>

    <table class="table table-striped stack">
        <caption>
            <input type="text" id="Search" class="search" placeholder="Search" ng-model="Search" ng-keyup="refresh()" auto-focus>
            TechStacks
        </caption>
        <thead>
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Description</strong></td>
                <td style="white-space: nowrap"><strong>Created By</strong></td>
            </tr>
        </thead>
        <tr ng-repeat="techStack in techStacks">
            <td class="name"><a href="#!/stacks/{{techStack.Id}}">{{techStack.Name}}</a></td>
            <td class="description" title="{{techStack.Description}}"><div>{{techStack.Description}}</div></td>
            <td class="createdby"><a href="#!/{{techStack.CreatedBy}}" ng-bind="techStack.CreatedBy"></a></td>
        </tr>
    </table>
</div>