<div>

    <div>
        <div class="popular-stack" ng-repeat="techStack in popularTechStacks">
            <a href="/{{techStack.Slug}}" title="{{techStack.Name}}">
                <img src="{{techStack.ScreenshotUrl}}" />
            </a>
        </div>
        <span class="clearfix"></span>
    </div>

    <table class="table table-striped stack">
        <caption>
            <input type="text" id="Search" class="search" placeholder="Search" ng-model="Search" ng-keyup="refresh()" auto-focus>
            TechStacks
        </caption>
        <thead>
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Description</strong></td>
                <td style="white-space: nowrap"><strong>Created By</strong></td>
            </tr>
        </thead>
        <tr ng-repeat="techStack in techStacks">
            <td class="name"><a href="/{{techStack.Slug}}">{{techStack.Name}}</a></td>
            <td class="description" title="{{techStack.Description}}"><div>{{techStack.Description}}</div></td>
            <td class="createdby"><a href="/users/{{techStack.CreatedBy}}" ng-bind="techStack.CreatedBy"></a></td>
        </tr>
    </table>

    <a ng-show="isAuthenticated" href="/stacks/create" class="btn btn-primary">Add TechStack</a>
</div>