<div>
    <h2 style="display: inline-block">{{currentStack.Name}}
        <span ng-show="isFavorite &&  isAuthenticated" class="glyphicon" style="color:rgb(255, 223, 61);text-shadow:  1px -1px 1px grey" ng-click="removeFavorite()" ng-class="{'glyphicon-star-empty': hover,'glyphicon-star': !hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false"></span>
        <span ng-show="!isFavorite && isAuthenticated" class="glyphicon" style="color:rgb(255, 223, 61);text-shadow:  1px -1px 1px grey" ng-click="addFavorite()" ng-class="{'glyphicon-star': emptyHover,'glyphicon-star-empty': !emptyHover}" ng-mouseenter="emptyHover=true" ng-mouseleave="emptyHover=false"></span>
    </h2>
    <a href="#/i/stacks/{{currentStack.Id}}/edit" class="btn btn-primary" ng-show="isAuthenticated && currentUserSession.UserAuthId == currentStack.OwnerId" style="margin-bottom: 15px">Edit</a>
    <div class="small" style="margin-bottom: 25px">By <a href="#/{{currentStack.CreatedBy}}">{{currentStack.CreatedBy}}</a></div>
    <section ng-bind="currentStack.Description"></section>
    <div ng-repeat="tier in allTiers">
        <div ng-show="tier.show">
            <h3>{{tier.title}} Technologies</h3>
            <div ng-repeat="tech in currentStack.TechnologyChoices | filter:{Tier:tier.name}">
                <h4><a href="#/i/techs/{{tech.TechnologyId}}"><img ng-if="tech.LogoApproved" ng-src="{{tech.LogoUrl}}" width="75" height="75" />{{tech.Name}}</a></h4>
            </div>
        </div>
    </div>
</div>