<div id="stack-page" ng-class="{'loading-page': loading}">
    <div id="stack-info">
       
        <a class="screenshot" ng-show="currentStack.ScreenshotUrl" href="{{currentStack.AppUrl}}">
            <img ng-src="{{currentStack.ScreenshotUrl}}" />
            <div>{{currentStack.AppUrl}}</div>
        </a>

        <a href="/{{currentStack.Slug}}/edit" class="btn btn-primary"
           ng-show="isAuthenticated && (!currentStack.IsLocked || currentUserSession.UserAuthId == currentStack.OwnerId || hasRole('Admin'))">
            Edit
        </a>

        <p class="stats" ng-show="stats" style="float: right">
            <span><b>{{stats.ViewCount}}</b> views</span><span ng-show="stats.FavCount >= 2">, <b>{{stats.FavCount}}</b> faves</span>
        </p>

        <h2 style="display: inline-block">
            {{currentStack.Name}}
            <span ng-show="isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav selected"
                  ng-click="removeFavorite()"><span class="favorite-count" ng-bind="favoriteCount"></span></span>
            <span ng-show="!isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav"
                  ng-click="addFavorite()"><span class="favorite-count" ng-show="favoriteCount > 0" ng-bind="favoriteCount"></span></span>
        </h2>
        
        <h2 ng-hide="currentStack.VendorName == currentStack.Name" class="vendor">
            {{currentStack.VendorName}}
        </h2>
 
        <p class="description" ng-bind="currentStack.Description"></p>

        <div class="tech-info" ng-repeat="tier in stackTiers">
            <div class="item">
                <h4>{{tier.title}}</h4>
                <div ng-repeat="tech in tier.techChoices">
                    <a href="/tech/{{tech.Slug}}" title="{{tech.Name}}">
                        <img ng-if="tech.LogoApproved" ng-src="{{tech.LogoUrl}}" />
                    </a>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <ul class="share-buttons pull-right">
            <li><a href="" title="Share on Facebook" ng-click="share('facebook')" ><img src="/img/share/Facebook.png"></a></li>
            <li><a href="" title="Tweet" ng-click="share('twitter')"><img src="/img/share/Twitter.png"></a></li>
            <li><a href="" title="Share on Google+" ng-click="share('google')"><img src="/img/share/Google.png"></a></li>
            <li><a href="" title="Submit to Reddit" ng-click="share('reddit')"><img src="/img/share/Reddit.png"></a></li>
            <li><a href="" title="Share on LinkedIn" ng-click="share('linkedin')"><img src="/img/share/LinkedIn.png"></a></li>
            <li><a href="" title="Email" onclick=""><img src="/img/share/Email.png"></a></li>
        </ul>

        <div class="last-updated">
            <p>
                last updated: {{currentStack.LastModified | date: "yyyy/MM/dd"}}
                by <a href="/users/{{currentStack.LastModifiedBy}}">{{currentStack.LastModifiedBy}}</a>
            </p>
        </div>
    </div>

    <div ng-show="DetailsHtml" id="stack-details">

        <div class="panel panel-default">
            <div class="panel panel-body">
                <div class="details-html" ng-bind-html="DetailsHtml"></div>
            </div>
        </div>

    </div>

</div>

<disqus />
