<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  

  <appSettings>
    <add key="DebugMode" value="true" />

    <add key="oauth.twitter.ConsumerKey" value="50pAt2BV71fH0Rl10osixnMU3" />
    <add key="oauth.twitter.ConsumerSecret" value="au5FUZ4A6jk13f1Ru9fsdsSOCh8gOtchbDNHmt3mdUxXmpvhIz" />
    <add key="oauth.github.Scopes" value="user" />
    <add key="oauth.github.ClientId" value="d8f0b22800ce2b358438" />
    <add key="oauth.github.ClientSecret" value="e0ed94f5d6409591363ed43f91576e136ce2b8e2" />
    <add key="Admins" value="darren.j.reid@gmail.com,demis.bellot@gmail.com,team@servicestack.net" />
    <add key="TwitterAdmins" value="layoric,demisbellot,webstacks" />
    <!-- Auth config -->
    <add key="oauth.RedirectUrl" value="http://localhost:16325/" />
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:16325/auth/{0}" />

    <add key="jwt.AuthKeyBase64" value="7OrAw+Dc09cA9IimXvNf3ZFsHzD/iWE6AyPTYEhz17Y=" />

    
  <add key="webPages:Enabled" value="false" /></appSettings>

  <system.web>
    <compilation targetFramework="4.5" debug="true">
      
    <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders></compilation>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <system.web.webPages.razor>
    
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        
        
        
        
        
        
        
        
        <add namespace="TechStacks.ServiceInterface" />
        
      <add namespace="System" /><add namespace="System.Linq" /><add namespace="ServiceStack" /><add namespace="ServiceStack.Html" /><add namespace="ServiceStack.Razor" /><add namespace="ServiceStack.Text" /><add namespace="ServiceStack.OrmLite" /><add namespace="TechStacks" /><add namespace="TechStacks.ServiceModel" /></namespaces>
    </pages>
  <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></system.web.webPages.razor>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.4.0" newVersion="3.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>