<div id="edit-tech-page" class="col-md-11 edit">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            Update
            <a href="/stacks/{{currentStack.Slug}}">{{tech.Name}}</a>
        </div>
        <div class="panel panel-body">

            <form role="form" name="techForm">
                <div class="form-group">
                    <label for="TechName">Technology Name</label>
                    <input type="text" class="form-control" id="TechName" placeholder="Enter name of the technology" ng-model="tech.Name" required>
                </div>
                <div class="form-group">
                    <label for="VendorName">Vendor Name</label>
                    <input type="text" class="form-control" id="VendorName" placeholder="Enter name of the vendor" ng-model="tech.VendorName" required>
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea class="form-control" id="Description" placeholder="Enter a description of the technology" ng-model="tech.Description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="LogoUrl">
                        LogoUrl (minimum dimensions 100 x 100)
                        <span ng-if="isAuthenticated && hasRole('Admin') && !tech.LogoApproved" class="glyphicon glyphicon-unchecked" ng-click="approveLogo()"></span>
                        <span ng-if="isAuthenticated && hasRole('Admin') && tech.LogoApproved" class="glyphicon glyphicon-check" ng-click="unApproveLogo()"></span>
                    </label>
                    <input type="text" class="form-control" id="LogoUrl" placeholder="Enter a url for the technology logo" ng-model="tech.LogoUrl" required>
                </div>
                <div class="form-group">
                    <label for="ProductUrl">Product Url</label>
                    <input type="text" class="form-control" id="ProductUrl" placeholder="Enter url of the product" ng-model="tech.ProductUrl" required>
                </div>
                <div class="form-group">
                    <label for="VendorUrl">Vendor Url</label>
                    <input type="text" class="form-control" id="VendorUrl" placeholder="Enter url of the vendor" ng-model="tech.VendorUrl" required>
                </div>
                <div class="form-group">
                    <label>Add to tier</label>
                    <select class="form-control" ng-model="tech.Tier">
                        <option value="" disabled selected>Select a Tier</option>
                        <option ng-repeat="tier in allTiers" value="{{tier.name}}">{{tier.title}}</option>
                    </select>
                </div>
                <button class="btn btn-primary" ng-click="done()" ng-disabled="!techForm.$valid">
                    Update Technology
                </button>
                <div class="form-group pull-right">
                    <label style="font-weight: normal; margin: 0 10px 0 0">
                        <input type="checkbox" ng-model="deleteIsEnabled" name="canDelete" value="" />
                        confirm 
                    </label>
                    <button class="btn btn-danger" ng-click="deleteTech()" ng-disabled="!deleteIsEnabled">Delete</button>
                </div>
                <div class="progress" ng-show="busy">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span style="font-size: larger">Loading...</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
