<div>

    <table class="table table-responsive table-striped">
        <caption>
            <input type="text" id="Search" class="search" placeholder="Search" ng-model="Search" ng-keyup="search()" auto-focus>
            <div style="float: right; color: #444; margin: -2px 10px 0 0;">
                <select class="search-tiers" style="padding: 5px; font-size: 16px;"
                        ng-model="category"
                        ng-options="tier.name as tier.title for tier in allTiers"
                        ng-change="refresh()">
                    <option value="">[ Show All Categories ]</option>
                </select>
            </div>

            Technologies
        </caption>
        <thead>
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Description</strong></td>
                <td><strong>Vendor</strong></td>
            </tr>
        </thead>
        <tr ng-repeat="tech in techs">
            <td class="name">
                <a href="/tech/{{tech.Slug}}">
                    <div>{{tech.Name}}</div>
                </a>
            </td>
            <td>
                <div>{{tech.Description}}</div>
            </td>
            <td class="vendor">
                <a class="td-logo" href="/tech/{{tech.Slug}}" title="{{tech.Name}}">
                    <img ng-show="{{tech.LogoUrl}}" src="{{tech.LogoUrl}}" />
                </a>
                <div>{{tech.VendorName}}</div>
            </td>
        </tr>
    </table>
    <a ng-show="isAuthenticated" href="/tech/create?category={{category}}" class="btn btn-primary">Add technology</a>
</div>
