<div id="tech-page" ng-class="{'loading-page': loading}">

    <div id="tech-info">
        <div id="aside">
            <img class="logo" src="{{tech.LogoUrl}}"/>
            <p class="stats" ng-show="stats">
                <span><b>{{stats.ViewCount}}</b> views</span><span ng-show="stats.FavCount >= 2">, <b>{{stats.FavCount}}</b> faves</span>
            </p>
        </div>

        <a href="/tech/{{tech.Slug}}/edit" class="btn btn-primary"
           ng-show="isAuthenticated && (!tech.IsLocked || currentUserSession.UserAuthId == tech.OwnerId || hasRole('Admin'))">
            Edit
        </a>

        <h2 ng-show="tech.ProductUrl == null">{{tech.Name}}
            <span ng-show="isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav selected"
                  ng-click="removeFavorite()"><span class="favorite-count" ng-bind="favoriteCount"></span></span>
            <span ng-show="!isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav"
                  ng-click="addFavorite()"><span class="favorite-count" ng-show="favoriteCount > 0" ng-bind="favoriteCount"></span></span>
        </h2>

        <h2 ng-show="tech.ProductUrl != null">{{tech.Name}}
            <span ng-show="isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav selected"
                  ng-click="removeFavorite()"><span class="favorite-count" ng-bind="favoriteCount"></span></span>
            <span ng-show="!isFavorite && isAuthenticated" class="glyphicon glyphicon-star fav"
                  ng-click="addFavorite()"><span class="favorite-count" ng-show="favoriteCount > 0" ng-bind="favoriteCount"></span></span>
        </h2>

        <p>
            <a href="{{tech.ProductUrl}}" target="_blank">{{tech.ProductUrl}}</a>
            <span style="color: #aaa;">
                by 
                {{tech.VendorName}}
            </span>
        </p>

        <p class="description">{{tech.Description}}</p>
        <div class="clearfix"></div>
    </div>

    <div ng-show="relatedStacks.length > 0">
        <table class="table table-striped stack">
            <caption>TechStacks using {{tech.Name}}</caption>
            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Description</strong></td>
                </tr>
            </thead>
            <tr ng-repeat="techStack in relatedStacks">
                <td class="name">
                    <a href="/{{techStack.Slug}}">
                        {{techStack.Name}}
                    </a>
                </td>
                <td class="description" title="{{techStack.Description}}">
                    <div>{{techStack.Description}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<disqus />