<div>    
    <div>        
        <div class="col-md-12">
            <div class="panel panel-default hero">
                <div class="panel-heading">
                    Welcome to TechStacks!
                </div>
                <div class="panel panel-body">
                    <p>
                        Discover what technologies were used to create popular Websites and Apps, for example here's what <a href="/techstacks-website">TechStacks was created with</a> :)
                    </p>
                    <p>
                        Missing your favorite Tech or TechStack? Sign-in and add it now!
                        You'll also be able to customize this page and see who else uses your favorite tech!
                    </p>
                    <div class="badges">
                        <a href="https://itunes.apple.com/us/app/techstacks/id965680615?ls=1&mt=8">
                            <img src="/img/appstore-badge.png" height="60"/>
                        </a>
                        <a href="https://github.com/ServiceStackApps/TechStacksApp">
                            <img src="/img/swift-logo.png" height="25" />
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=servicestack.net.techstacks">
                            <img alt="Android app on Google Play" src="/img/en_app_rgb_wo_60.png" />
                        </a>
                        <a href="https://github.com/ServiceStackApps/TechStacksAndroidApp">
                            <img src="/img/java-logo.png" height="40" />
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=test.servicestack.net.techstackskotlin">
                            <img alt="Android app on Google Play" src="/img/en_app_rgb_wo_60.png" />
                        </a>
                        <a href="https://github.com/ServiceStackApps/TechStacksKotlinApp">
                            <img src="/img/kotlin-logo.png" height="25" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default top" ng-repeat="category in topTechCategories" ng-if="$index < 4">
                <div class="panel-heading">
                    <a href="/tech?category={{category.name}}" style="display:block">
                        <span>
                            {{category.title}} 
                        </span>
                    </a>
                </div>
                <div class="panel-body">
                    Most Popular:
                </div>
                <div class="panel-footer">
                    <div title="{{tech.Name}}" ng-repeat="tech in category.techs">
                        <a href="/tech/{{tech.Slug}}" class="ng-binding" title="{{tech.Name}}" style="display:block">
                            <b>({{tech.StacksCount}})</b>
                            <img ng-src="{{tech.LogoUrl}}" height="40" style="padding: 0 10px 0 0;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">            
            <div class="panel panel-default top" ng-repeat="category in topTechCategories" ng-if="$index >= 4">
                <div class="panel-heading">
                    <a href="/tech?category={{category.name}}" style="display:block">
                        <span>
                            {{category.title}} 
                        </span>
                    </a>
                </div>
                <div class="panel-body">
                    Most Popular:
                </div>
                <div class="panel-footer">
                    <div title="{{tech.Name}}" ng-repeat="tech in category.techs">
                        <a href="/tech/{{tech.Slug}}" class="ng-binding" title="{{tech.Name}}" style="display:block">
                            <b>({{tech.StacksCount}})</b>
                            <img ng-src="{{tech.LogoUrl}}" height="40" style="padding: 0 10px 0 0;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            
            <div class="panel panel-default browse">
                <div class="panel-heading">
                    Browse by Technology
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="tech in topTechnologies" style="white-space:nowrap">
                            <a href="/tech/{{tech.Slug}}">{{tech.Name}}</a> 
                            <small>({{tech.StacksCount}})</small>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default browse">
                <div class="panel-heading">
                    Browse by Users
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="user in topUsers" style="white-space:nowrap">
                            <a href="/users/{{user.UserName}}">
                                <img src="{{user.AvatarUrl}}" style="height: 20px;" />
                                {{user.UserName}}
                            </a> 
                            <small>({{user.StacksCount}})</small>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>