<div ng-show="errorMessage">
    <div class="alert-danger" ng-bind="errorMessage"></div>
</div>
<div style="display: block;min-height: 150px">
    <div class="col-md-2">
        <img ng-src="{{avatarUrl}}" width="50" height="50" />
        <h4 ng-bind="currentUserName"></h4>
    </div>
    <div class="col-md-10">
        <h3>TechStacks</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Description</strong></td>
                    <td ng-show="isAuthenticated && currentUserName === currentUserSession.UserName"><strong>Delete</strong></td>
                </tr>
            </thead>
            <tr ng-repeat="techStack in techStacks">
                <td><a href="#/i/stacks/{{techStack.Id}}" ng-bind="techStack.Name"></a></td>
                <td ng-bind="techStack.Description"></td>
                <td ng-show="isAuthenticated && currentUserName === currentUserSession.UserName"><button class="btn btn-sm btn-danger" ng-click="deleteStack(techStack)">Delete</button></td>
            </tr>
        </table>
        <a class="btn btn-primary" ng-show="isAuthenticated && currentUserName === currentUserSession.UserName" href="#/i/stacks/create">Create a stack</a>
    </div>
</div>