<div ng-show="errorMessage">
    <div class="alert-danger" ng-bind="errorMessage"></div>
</div>
<div style="display: block;min-height: 150px">
    <div class="col-md-2" style="text-align:center;">
        <div class="avatarbox">
            <img ng-src="{{avatarUrl}}" />
        </div>
        <h4 ng-bind="currentUserName"></h4>
    </div>
    <div class="col-md-10">
        <table ng-show="techStacks.length > 0" class="table table-striped stack">
            <caption>
                TechStacks
            </caption>
            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Description</strong></td>
                    <td ng-show="isAuthenticated && currentUserName === currentUserSession.UserName"><strong>Delete</strong></td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <p ng-show="techStacks.length == 0">
                            <span ng-show="isAuthenticated && currentUserName === currentUserSession.UserName">You haven't</span>
                            <span ng-show="!isAuthenticated || currentUserName !== currentUserSession.UserName">{{currentUserName}} hasn't</span>
                            created any TechStacks yet.
                        </p>
                        <a class="btn btn-primary" ng-show="isAuthenticated && currentUserName === currentUserSession.UserName" href="#!/stacks/create">Create a stack</a>
                    </td>
                </tr>
            </tfoot>
            <tr ng-repeat="techStack in techStacks">
                <td><a href="#!/stacks/{{techStack.Id}}" ng-bind="techStack.Name"></a></td>
                <td ng-bind="techStack.Description"></td>
                <td ng-show="isAuthenticated && currentUserName === currentUserSession.UserName"><button class="btn btn-sm btn-danger" ng-click="deleteStack(techStack)">Delete</button></td>
            </tr>
        </table>
        
        <table ng-show="favoriteTechStacks.length > 0" class="table table-striped stack">
            <caption>
                Favorite TechStacks
            </caption>
            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Description</strong></td>
                </tr>
            </thead>
            <tr ng-repeat="techStack in favoriteTechStacks">
                <td class="name"><a href="#!/stacks/{{techStack.Id}}">{{techStack.Name}}</a></td>
                <td class="description" title="{{techStack.Description}}"><div>{{techStack.Description}}</div></td>
            </tr>
        </table>
        
        <table ng-show="favoriteTechnologies.length > 0" class="table table-striped">
            <caption>
                Favorite Technologies
            </caption>
            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Description</strong></td>
                </tr>
            </thead>
            <tr ng-repeat="tech in favoriteTechnologies">
                <td class="name"><a href="#!/techs/{{tech.Id}}">{{tech.Name}}</a></td>
                <td class="description" title="{{tech.Description}}"><div>{{tech.Description}}</div></td>
            </tr>
        </table>

    </div>
</div>