body {
    color: #444;
    font-family: Roboto;
    padding: 0 0 80px 0;
}
a, a:hover, a:focus {
    color: #03a9f4;
    text-decoration: none;
}
small {
    color: #999;
}
.navbar-inverse, .nav li, 
.navbar-nav > li > a, .navbar-nav > li > a:hover,
.navbar-nav > .active > a, .navbar-nav > .active > a:hover {
    border: none;
}
.navbar {
    color: #fff;
    background: #03a9f4;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.navbar-nav > li > a {
    color: #fff !important;
    border-radius: 0;
    margin: 25px 0 0 0;
}
.navbar-nav > li > a:hover {
    color: #ffff8d !important;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover {
    border-bottom: 2px solid #ffff8d;
}
#logo {
    color: #fff;
    margin: 0;
    height: auto;
    margin: 32px 0 0 0;
    padding: 0 10px 7px 0;
    font-size: 24px;
}
#logo:hover {
    color: #ffff8d !important;
}
#logo.active {
    border-bottom: 2px solid #ffff8d;
}

.twitter { background: url(/img/twitter_normal.png) no-repeat; }
.facebook { background: url(/img/facebook_normal.png) no-repeat; }
.github { background: url(/img/github_normal.png) no-repeat; }

.navbar-right li a {
    padding: 5px 5px;
    margin: 0;
}

blockquote {
    border: 1px solid #f1f1ff;
    border-left: 6px solid #b3e5fc;
}
.tech-info .item {
    clear: left;
}
.tech-info .item h4 {
    padding: 40px 0 15px 0;
    color: #9E9E9E;
    font-size: 18px;
}
.tech-info .item a {
    display: block;
    float: left;
    padding: 0 30px 0 0;
}

.panel {
    border-radius: 0px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,.12);    
}
.panel-default .panel-heading, .panel-heading a {
    color: rgba(255,255,255,.84);
    background-color: #8BC34A;
}
.panel-footer {
    border: none;
}

.btn,.btn:focus {
    text-transform: uppercase;
    border-radius: 2px;
    background: #03a9f4;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    outline: none!important;
    border: none;
    color: rgba(255,255,255,.84);
}
.btn:hover {
    background: #29B6F6;
    box-shadow: 0 2px 6px rgba(0,0,0,0.26);
    color: #fff;
}

.fav {
    text-shadow: 0px -1px 0px #999;
    color:#eee;
    margin: 0 0 0 5px;
}
.fav.selected {
    color:#FFEB3B;
    text-shadow: 0px 1px 0px #FF8F00;
}
.fav:hover {
    color:#FFF176;
}

#details {
    clear: both;
    padding: 100px 0 0 0;
}
#details .details-html {
    padding: 10px 0 0 0;
    border-top: 2px solid #eee; 
}
.details-html code {
    white-space: pre;
    display: block;
    color: #444;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

/* forms */

form {
    max-width: 800px;
}
textarea {
    min-height: 80px;
}
textarea#Details {
    min-height: 200px;
}

/* Search */

.search {
    float: right;
    width: 300px;
}

td.name, td.createdby {
    white-space: nowrap;
}

/* uncomment for single-line with ellipsis
td.description div {
    max-width: 800px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
 }*/

#disqus_thread {
    margin: 100px 40px 40px 40px;
}